<%= form_for(@domeniu) do |f| %>
<!-- afiseaza daca sunt erori -->
  <% if @domeniu.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% @domeniu.errors.full_messages.each do |msg| %>
        <li style="color:red"><%= msg %></li>
      <% end %>
      </ul>
    </div>
    <hr>
  <% end %>


  <%= f.hidden_field :sesiune_id, :value => @current_sesiune.id %>

  <div class="field">
    <%= f.label :nume %><br>
    <%= f.text_field :nume, class: 'col-sm-10' %>
  </div>
  <br/><br/>

  <div class="field">
    <%= f.label :descriere %><br>
    <%= f.text_area :descriere, rows: 7, class: 'col-sm-10' %>
  </div>
  <br/><br/><br/><br/><br/><br/><br/>
  
  <!-- setez user_id-ul userului curent pt ca lui isi adauga un domeniu -->
    <%= f.hidden_field :user_id, :value => current_user.id %>
  
  </br>
  <div class="actions">
	  <%= f.submit 'Submit', :class => 'btn btn-primary' %>
  </div>
<% end %>
