<%= form_for(@capitol) do |f| %>
  
  <!-- afisare erori -->
  <% if @capitol.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% @capitol.errors.full_messages.each do |msg| %>
        <li style="color:red"><%= msg %></li>
      <% end %>
      </ul>
    </div>
    <hr>
  <% end %>


  <% if @capitol.new_record? == true %> <!-- asa se verifica dc e new sau edit :P --> 
    <%= f.hidden_field :numar, :value => @capitole.count+1 %>
  <% end %>

  <% if params[:licenta] %>
      <%= f.hidden_field :licenta_id, :value => params[:licenta] %>
  <% end %>

  <div class="field">
    <%= f.label :nume %><br>
    <%= f.text_field :nume, class:"col-sm-10" %>
  </div>
  
  <br/><br/>
  
  <div class="actions">
    <%= f.submit 'Submit', :class => 'btn btn-primary' %>
  </div>

<% end %>
