<%= form_for(@capitol) do |f| %>
  <% if @capitol.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@capitol.errors.count, "error") %> prohibited this capitol from being saved:</h2>

      <ul>
      <% @capitol.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :licenta_id %><br>
    <%= f.number_field :licenta_id %>
  </div>
  <div class="field">
    <%= f.label :nume %><br>
    <%= f.text_field :nume %>
  </div>
  <div class="field">
    <%= f.label :numar %><br>
    <%= f.number_field :numar %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
