<%= form_for(@capitol) do |f| %>
  <% if @capitol.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% @capitol.errors.full_messages.each do |msg| %>
        <li style="color:red"><%= msg %></li>
      <% end %>
      </ul>
    </div>
    <hr>
  <% end %>

  <% if params[:licenta] %>
      <%= f.hidden_field :licenta_id, :value => params[:licenta] %>
  <% end %>
  <div class="field">
    <%= f.label :nume %><br>
    <%= f.text_field :nume %>
  </div>
  <div class="field">
    <%= f.label :numar %><br>
    <%= f.number_field :numar, :style => 'height:30px' %>
  </div>


  <div class="actions">
    <%= f.submit 'Submit', :class => 'btn btn-primary' %>
  </div>
<% end %>
