<%= form_for(@tema) do |f| %>

  <!-- afiseaza daca sunt erori -->
  <% if @tema.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% @tema.errors.full_messages.each do |msg| %>
        <li style="color:red"><%= msg %></li>
      <% end %>
      </ul>
    </div>
    <hr>
  <% end %>

  <div >

    <!-- setez user_id-ul userului curent pt ca lui isi adauga tema fie ca e prof fie ca e student -->
    <%= f.hidden_field :user_id, :value => get_current_user.id %>
    <%= f.hidden_field :sesiune_id, :value => get_current_sesiune.id %>

    <div class="field">
      <%= f.label :nume %><br>
      <%= f.text_field :nume, class: 'col-sm-10' %>
    </div>

    <br/><br/>

    <div class="field">
      <%= f.label :descriere %><br>
      <%= f.text_area :descriere, rows: 7, class: 'col-sm-10' %>
    </div>

    <br/><br/><br/><br/><br/><br/><br/><br/>

    <% if params[:domeniu_id] and get_current_user.rol == "Student" %> 
      
      <%= f.hidden_field :domeniu_id, :value => params[:domeniu_id] %>
    
    <% elsif params[:domeniu_id] %>
    
      <!-- radio button list cu domeniul pasat, pus primul si gata bifat -->
      <div class="field">
        <%= f.label :domeniu_id %><br>
        <%= f.radio_button :domeniu_id, params[:domeniu_id], :checked => true %><%= " " + Domeniu.find(params[:domeniu_id]).nume %><br/>
        <%= f.collection_radio_buttons(:domeniu_id, Domeniu.where(user_id: get_current_user.id).where(sesiune_id: get_current_sesiune.id).where.not(id: params[:domeniu_id]), :id, :nume) do |b| %>
          <%= b.radio_button + " " + b.text %></br>
        <% end %>
      </div>
    
    <% else %>
    
      <!-- radio button list cu toate domeniile (nimic bifat) -->
      <div class="field">
        <%= f.label :domeniu_id %><br>
        <%= f.collection_radio_buttons(:domeniu_id, Domeniu.where(user_id: get_current_user.id).where(sesiune_id: get_current_sesiune.id), :id, :nume) do |b| %>
          <%= b.label(:"data-value" => b.value) { b.radio_button + " " + b.text } %></br>
        <% end %>
      </div>
    
    <% end %>
    

    <% if :este_libera != true && :este_libera != false %>
      <%= f.hidden_field :este_libera, :value => true %>
    <% end %>

    <br/>
    <div class="actions">
  	  <%= f.submit 'Submit', :class => 'btn btn-primary' %>
    </div>

</div>

<% end %>