<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @licenta.user_id %>
</p>

<p>
  <strong>Tema:</strong>
  <%= @licenta.tema_id %>
</p>

<p>
  <strong>Renuntat:</strong>
  <%= @licenta.renuntat %>
</p>

<%= link_to 'Edit', edit_licenta_path(@licenta) %> |
<%= link_to 'Back', licentas_path %>
