<h1>Listing comentariu_temas</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Tema</th>
      <th>Continut</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @comentariu_temas.each do |comentariu_tema| %>
      <tr>
        <td><%= comentariu_tema.user_id %></td>
        <td><%= comentariu_tema.tema_id %></td>
        <td><%= comentariu_tema.continut %></td>
        <td><%= link_to 'Show', comentariu_tema %></td>
        <td><%= link_to 'Edit', edit_comentariu_tema_path(comentariu_tema) %></td>
        <td><%= link_to 'Destroy', comentariu_tema, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Comentariu tema', new_comentariu_tema_path %>
