<%= form_for(@deadline) do |f| %>
  <% if @deadline.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@deadline.errors.count, "error") %> prohibited this deadline from being saved:</h2>

      <ul>
      <% @deadline.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nume %><br>
    <%= f.text_field :nume %>
  </div>
  <div class="field">
    <%= f.label :numar %><br>
    <%= f.number_field :numar %>
  </div>
  <div class="field">
    <%= f.label :descriere %><br>
    <%= f.text_area :descriere %>
  </div>
  <div class="field">
    <%= f.label :data_start %><br>
    <%= f.datetime_select :data_start %>
  </div>
  <div class="field">
    <%= f.label :data_end %><br>
    <%= f.datetime_select :data_end %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
