<h1>Listing deadlines</h1>

<table>
  <thead>
    <tr>
      <th>Nume</th>
      <th>Descriere</th>
      <th>Data start</th>
      <th>Data end</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @deadlines.each do |deadline| %>
      <tr>
        <td><%= deadline.nume %></td>
        <td><%= deadline.descriere %></td>
        <td><%= deadline.data_start %></td>
        <td><%= deadline.data_end %></td>
        <td><%= link_to 'Show', deadline %></td>
        <td><%= link_to 'Edit', edit_deadline_path(deadline) %></td>
        <td><%= link_to 'Destroy', deadline, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Deadline', new_deadline_path %>
