<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if @user.rol == "Profesor" %>
    <%= @user.grad + " " + @user.nume + " " + @user.prenume %><br/><br/>
  
    <div class="field">
      <%= f.label :specializare %><br>
      <%= f.select :specializare, options_for_select([ ["Informatica", "Informatica"],["Matematica", "Matematica"],["Ambele", "Ambele"]])%>
    </div>

  <% elsif @user.rol == "Student" %>
    Student: <%= @user.nume + " " + @user.prenume %><br/>
    Grupa: <%= @user.grupa %><br/>
    <%= @user.specializare %><br/><br/>  

  <% end %>

  
  <div class="field">
    <%= f.label :este_eligibil_licenta %><br>
    <%= f.check_box :este_eligibil_licenta %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
