
<!-- notificari -->
<% if flash[:notice] %>
   <hr>
   <div id="notice"><%= flash[:notice] %></div>
   <hr>
<% end %>

<!-- deadlines -->
<% deadlineuriPublice = Deadline.where(public_tinta: 'Toti').where("data_start <= ? and data_end >= ?", "#{Date.today}", "#{Date.today}") %>
<% deadlineuriSpecifice = Deadline.where(public_tinta: get_current_user.rol).where("data_start <= ? and data_end >= ?", "#{Date.today}", "#{Date.today}") %>

<!-- deadlines pt toata lumea -->
<% if deadlineuriPublice.count > 0 %>
	Anunturi de interes general
	<br/>
	<ul class="list-group">
		<% deadlineuriPublice.each do |deadline| %>
	  			<li class="list-group-item list-group-item-info"><%= deadline.nume + " - " + deadline.data_end.strftime("%d %B %Y") + " ( " + distance_of_time_in_words(Date.today, deadline.data_end) + " left )" %></li>
		<% end %>
	</ul>
<% end %>

<!-- deadlines pt tipul celui logat -->
<% if deadlineuriSpecifice.count > 0 %>
	<% if get_current_user.rol == "Student" %>
		Anuntutri pentru studenti
		<br/>
	<% elsif get_current_user.rol == "Profesor" %>
		Anuntutri pentru profesori
		<br/>
	<% end %>	
	<ul class="list-group">
		<% deadlineuriSpecifice.each do |deadline| %>
		  		<li class="list-group-item list-group-item-success"><%= deadline.nume + " " + deadline.data_end.strftime("%d %B %Y") + " ( " + distance_of_time_in_words(Date.today, deadline.data_end) + " left )" %></li>
		<% end %>
	</ul>
<% end %>

<br/>


<h1>Alegerile mele</h1>
<br/>

<!-- alegerile mele -->
<% if @alegeri.count > 0 %>
	
<table class="table table-striped table hover">
	<thead>
		<tr class="info">
			<th>Profesor</th>
			<th>Tema</th>
			<th>Status_profesor</th>
			<th>Status_student</th>
			<th></th>
		</tr>
  	</thead>
  	<tbody>

		<% @alegeri.each do |alegere| %>
	  		<tr>
				<% tema = Tema.find(alegere.tema_id) %>
				<% dom = Domeniu.find(tema.domeniu_id) %>
				<% prof = User.find(dom.user_id) %>

				<td><%= prof.grad + " " + prof.nume + " " + prof.prenume %></td>
				
				<!-- exista o singura alegere cu tema respectiva! -->
				<td><%= Tema.find(alegere.tema_id).nume %></td>
				
				<% if alegere.status_profesor == "Pending" %>
					<td style="color:orange"><%= alegere.status_profesor %></td>
				<% elsif alegere.status_profesor == "Accepted" %>
					<td style="color:green"><%= alegere.status_profesor %></td>
				<% else %>
					<td style="color:red"><%= alegere.status_profesor %></td>
				<% end %>
				
				<% if alegere.status_student == "Pending" %>
					<td style="color:orange"><%= alegere.status_student %></td>
				<% elsif alegere.status_student == "Accepted" %>
					<td style="color:green"><%= alegere.status_student %></td>
				<% else %>
					<td style="color:red"><%= alegere.status_student %></td>
				<% end %>

				<% if alegere.status_profesor == "Accepted" %>
					<td><%= link_to "Alege ca lucrare de licență", acceptaCaLicenta_path(:temaaleasa_id => tema.id), :class => 'btn btn-success'  %></td>
				<% else %>
					<td></td>
				<% end %>

	  		</tr>
   		<%end%>

  	</tbody>
</table>

<% else %>
	Nu ai ales nimic, momentan.
<% end %>
