
<!-- <= @current_user.nume + @current_user.prenume %> cu current_user nu merge - tre cu @current_user -->
<!-- <= session[:user_id]['extra'] %> -->
<!-- url: <= @url %> -->
<!-- <br/> -->
<!-- info_curent_t: <= @info_curent_t %> -->
<!-- <br/> -->
<!-- token: <= session[:user_id]['credentials']['token'] %> -->
<!-- <br/> -->
<!-- uid: <= session[:user_id]['uid'] %> -->
<!-- <br/> -->
<!-- grupa: <= @info_curent['group_year'].to_s + @info_curent['group_series'].to_s + @info_curent['group_number'].to_s %> -->

<!-- < ultima_sesiune = Sesiune.where.not(data_end: nil).last %> -->
<!-- <=  ultima_sesiune.id.to_s + ". " + ultima_sesiune.data_start.to_s + " - " + ultima_sesiune.data_end.to_s %> -->

<!-- < ultima_sesiune = get_current_sesiune %> -->
<!-- <=  ultima_sesiune.id.to_s + ". " + ultima_sesiune.data_start.to_s + " - " + ultima_sesiune.data_end.to_s %> -->


<!-- deadlines -->
<% deadlineuriPublice = Deadline.where(public_tinta: 'Toti') %>
<% deadlineuriSpecifice = Deadline.where(public_tinta: get_current_user.rol) %>

<!-- deadlines pt toata lumea -->
<% if deadlineuriPublice.count > 0 %>
	Anunturi de interes general
	<br/>
	<ul class="list-group">
		<% deadlineuriPublice.each do |deadline| %>
			<% if deadline.data_start < Date.today %> <!-- adica dc a inceput deja -->	
	  			<li class="list-group-item list-group-item-info"><%= deadline.nume + " " + deadline.data_end.strftime("%d %B %Y") + " ( " + distance_of_time_in_words(Date.today, deadline.data_end) + " left )" %></li>
			<% end %>
		<% end %>
	</ul>
<% end %>

<!-- deadlines pt tipul celui logat -->
<!-- separa if pt studenti si pt profi -->
<% if deadlineuriSpecifice.count > 0 %>
	<% if get_current_user.rol == "Student" %>
		Anuntutri pentru studenti
		<br/>
	<% elsif get_current_user.rol == "Profesor" %>
		Anuntutri pentru profesori
		<br/>
	<% end %>	
	<ul class="list-group">
		<% deadlineuriSpecifice.each do |deadline| %>
			<% if deadline.data_start < Date.today %>	
		  		<li class="list-group-item list-group-item-success"><%= deadline.nume + " " + deadline.data_end.strftime("%d %B %Y") + " ( " + distance_of_time_in_words(Date.today, deadline.data_end) + " left )" %></li>
		  	<% end %>
		<% end %>
	</ul>
<% end %>

<br/>

<!-- < if flash[:notice] && flash[:notice] != "Alegerea selectata deja exista" && flash[:notice] != "Alegere salvata cu succes"%> -->
<% if flash[:notice] %>
   <div id="notice"><%= flash[:notice] %></div>
   <hr>
<% end %>

<!-- titlu -->
<% if get_current_user.rol == "Student" %>
	<h1>Temele disponibile</h1>
<% else %>
	<h1>Toate temele</h1>
<% end %>

<br/><br/>


<!-- search box -->
<%= form_tag({controller: "browse_pagini", action:"browseHome" }, method: "get") do  %>
    <div class="form-group search-form">
		<%= text_field_tag(:search,nil, class: ' mysearchbox col-md-3 form-control search-input', :placeholder => "e.g.  servlet, java, promovabil") %>
    	<%= submit_tag("Caută", class: 'btn btn-primary', style: "position:relative; left:20px") %>
    </div>
<% end %>
<br/>

<!-- afisare rezultatele cautarii -->
<% if params[:search] and params[:search] != "" %>
	<!-- <= @results.count %> teme gasite. -->
	<% if @results.count > 0 %>
		<table class="table table-striped table hover">
			<thead>
				<th>Nr.</th>
				<th>Titlu temă</th>
			</thead>
			<tbody>
				<% nr_tema_searc = 0 %>
				<% @results.each do |r| %>
					<% nr_tema_searc = nr_tema_searc + 1 %>
					<tr>
						<td><%= nr_tema_searc %></td>
						<td><%= link_to r.nume, r %></td>
					</tr>
				<% end %>
			</tbody>
		</table>
	<% elsif @results.count == 0 %>
		Nicio tema.
	<% end %>

<!-- afisare profi cu domenii si teme -->
<% else %>
	
	<% if @useri_profesori.count == 0 %>
		<p> Nu sunt profesori eligibili pentru licență. </p>
	<% end %>

	<div class="css-treeview">
		<!-- pt profi -->
		<ul>
			<% @useri_profesori.each do |prof| %>
				<li style="padding-bottom:10px; padding-top:10px;"><input type="checkbox" /><label><span style="font-size:22px;font-family:Georgia, serif;color:black"><%= link_to prof.grad + " " + prof.nume + " " + prof.prenume, prof %><span/></label>

				<% domenii = Domeniu.where(sesiune_id: get_current_sesiune.id).where(user_id: prof.id) 
				 nrStudentiCuLicenta = 0
			     domenii.each do |domeniu|
			        domeniu.temas.each do |tema|
			            Licenta.where(tema_id: tema.id, sesiune_id: get_current_sesiune.id, renuntat: false).each do |licenta|
			                nrStudentiCuLicenta = nrStudentiCuLicenta + 1
			            end
			        end
			    end %>

				<em> (<%= 25-nrStudentiCuLicenta %> locuri libere)</em>
					
					<!-- pt domenii -->
					<ul>
						
						<% if Domeniu.where(user_id: prof.id).where(sesiune_id: get_current_sesiune.id).count == 0 %>
						
							<li style="padding-top:10px;"><em>Niciun domeniu.</em></li>
						
						<% else %>
							<% Domeniu.where(user_id: prof.id).where(sesiune_id: get_current_sesiune.id).each do |dom| %>
								<li style="padding-top:10px;"><input type="checkbox" /><label style="font-size:18px;font-family:Georgia, serif; color:darkgreen" for="dom"><%= link_to dom.nume, dom %></label>
								
									<br/>
									
									<ul>
									
									<% if get_current_user.rol == "Student" %>
										
										<% teme_de_afisat = Tema.where(domeniu_id: dom.id, sesiune_id: get_current_sesiune.id).where(este_libera: true).where("user_id = ? or user_id = ?", "#{dom.user_id}", "#{get_current_user.id}") %>
										
										<% if teme_de_afisat.count == 0 %>
										
											<li style="padding-top:10px"><em>Nu sunt teme.</em></li>
										
										<% else %>
											
											<table class="table table-striped table hover">
												<thead>
													<th></th>
												</thead>
												<tbody>
													<% teme_de_afisat.each do |tema| %>
														<tr>
															<td><%= link_to tema.nume, tema %></td>
														</tr>
														<!-- <li style="list-style-type: circle; padding-top:10px"> -->
															<!-- <span style="font-size:18px;font-family:Georgia, serif;color:black"><= link_to tema.nume, tema %></span> -->
														<!-- </li> end de la tema -->
													<% end %>
												</tbody>
											</table>
										
										<% end %>

									<% else %>
										
										<% if Tema.where(domeniu_id: dom.id).where(sesiune_id: get_current_user.id).count == 0 %>
										
											<li style="padding-top:10px"><em>Nu sunt teme.</em></li>
										
										<% else %>
										
											<table class="table table-striped table hover">
												<thead>
													<th></th>
												</thead>
												<tbody>
													<% Tema.where(domeniu_id: dom.id).where(sesiune_id: get_current_user.id).each do |tema| %>
														<tr>
															<td><%= link_to tema.nume, tema %></td>
														</tr>
													<% end %>
												</tbody>
											</table>
										
										<% end %>
									
									<% end %>
									</ul>
								</li> <!-- end de la domeniu -->
							<% end %> <!-- end de la domeniu... each -->
						<% end %> <!-- end de la if domenii.count == 0 -->
					</ul>
				</li> <!-- end de la prof -->
				<hr>
			<% end %>
		</ul>
	</div> <!-- end of div css treeview -->

	<br/><br/>

<% end %>


<!-- TODO: ia din controller @specializare_result @profi_results @domenii_result @teme_results si afiseaza ca sa fie cf searchului. dc nu e search, da-le pe toate -->

<!-- < if params[:search] and params[:search] != "" %> -->
	<!-- <= @results.count %> teme gasite. -->
		<!-- < @results.each do |r| %> -->
			<!-- <li><= link_to r.nume, r %></li> -->
		<!-- < end %> -->
<!-- < else %> -->
	<!-- < if @useri_profesori.count == 0 %> -->
		<!-- <p> Nu sunt profesori eligibili pentru licență. </p> -->
	<!-- < end %> -->
	<!-- < @useri_profesori.each do |prof| %> -->
		<!-- div-ul profului -->
		<!-- <div> -->
			<!-- <div style="text-align: left"> -->
				<!-- <b><= link_to prof.grad + " " + prof.nume + " " + prof.prenume, prof, style: "color:black; font-size:20px; font-family:Georgia, serif;" %></b> -->
			<!-- </div> -->
			<!-- < Domeniu.where(user_id: prof.id).each do |dom| %> -->
				<!-- <div> class="divdomeniu"> -->
					<!-- <span class="clickdomeniu glyphicon glyphicon-chevron-right"></span> -->
					<!-- <b><= link_to dom.nume, dom, style: "color:#7C7062; font-size:18px; font-family:Georgia, serif; font-style:italic" %></b> -->
				
					<!-- <div class="expanddomeniu"> -->
						<!-- < if @current_user.rol == "Student" and dom.nume == "Alegerea studentului" %> -->
							<!-- <div class="divtema"><= link_to "Propune temă", root_path, style: "color: darkgreen" %></div> -->
						<!-- < end %> -->
					
						<!-- < if Tema.where(domeniu_id: dom.id).where(este_libera: true).count > 0 %> -->
								<!-- < Tema.where(domeniu_id: dom.id).where(este_libera: true).each do |tema| %> -->
									<!-- <div class="divtema"> <= link_to tema.nume, tema, style: "#428bca; font-family:Georgia, serif;"%></div> -->
								<!-- <end%> -->
						<!-- < else %> -->
							<!-- <i>Acest domeniu nu are teme.</i> -->
						<!-- < end %> de la teme -->
					<!-- </div> -->
				<!-- </div> -->
			<!-- < end %> de la domenii -->

		<!-- </div> end divprof -->
		<!-- <br/><br/> -->
	<!-- < end %> -->
<!-- < end %> -->

