
<!-- <= @current_user.nume + @current_user.prenume %> cu current_user nu merge - tre cu @current_user -->
<!-- <= session[:user_id]['extra']['email'] %> -->
<!-- url: <= @url %> -->
<!-- <br/> -->
<!-- info_curent_t: <= @info_curent_t %> -->
<!-- <br/> -->
<!-- token: <= session[:user_id]['credentials']['token'] %> -->
<!-- <br/> -->
<!-- uid: <= session[:user_id]['uid'] %> -->
<!-- <br/> -->
<!-- grupa: <= @info_curent['group_year'].to_s + @info_curent['group_series'].to_s + @info_curent['group_number'].to_s %> -->

<h1>Toate temele</h1>
<br/><br/>

<!-- Daca userul este student si are licenta, ne ducem direct la licentaHome path -->

<% if flash[:notice] && flash[:notice] != "Alegerea selectata deja exista" && flash[:notice] != "Alegere salvata cu succes"%>
   <div id="notice"><%= flash[:notice] %></div>
   <hr>
<% end %>

<!-- search box -->
<%= form_tag({controller: "browse_pagini", action:"browseHome" }, method: "get") do  %>
    <div class="form-group search-form">
		<%= text_field_tag(:search,nil, class: ' mysearchbox col-md-3 form-control search-input', :placeholder => "e.g.  servlet, java, promovabil") %>
    	<%= submit_tag("Caută", class: 'btn btn-primary', style: "position:relative; left:20px") %>
    </div>
<% end %>
<br/>


<!-- TODO: ia din controller @specializare_result @profi_results @domenii_result @teme_results si afiseaza ca sa fie cf searchului. dc nu e search, da-le pe toate -->

	<% if params[:search] and params[:search] != "" %>
		<%= @results.count %> teme gasite.
			<% @results.each do |r| %>
				<li><%= link_to r.nume, r %></li>
			<% end %>
	<% else %>
		<% if @useri_profesori.count == 0 %>
			<p> Nu sunt profesori eligibili pentru licență. </p>
		<% end %>
		<% @useri_profesori.each do |prof| %>
			<!-- div-ul profului -->
			<div>
				<div style="text-align: left">
					<b><%= link_to prof.grad + " " + prof.nume + " " + prof.prenume, prof, style: "color:black; font-size:20px; font-family:Georgia, serif;" %></b>
				</div>
				<% Domeniu.where(user_id: prof.id).each do |dom| %>
					<div> <!-- class="divdomeniu"> -->
						<span class="clickdomeniu glyphicon glyphicon-chevron-right"></span>
						<b><%= link_to dom.nume, dom, style: "color:#7C7062; font-size:18px; font-family:Georgia, serif; font-style:italic" %></b>
					
						<div class="expanddomeniu">
							<% if @current_user.rol == "Student" and dom.nume == "Alegerea studentului" %>
								<div class="divtema"><%= link_to "Propune temă", root_path, style: "color: darkgreen" %></div>
							<% end %>
						
							<% if Tema.where(domeniu_id: dom.id).where(este_libera: true).count > 0 %>
								
									<% Tema.where(domeniu_id: dom.id).where(este_libera: true).each do |tema| %>
										<div class="divtema"> <%= link_to tema.nume, tema, style: "#428bca; font-family:Georgia, serif;"%></div>
									<%end%>
							<% else %>
								<i>Acest domeniu nu are teme.</i>
							<% end %> <!-- de la teme -->
						</div>
					</div>
				<% end %> <!-- de la domenii -->

			</div> <!-- end divprof -->
			<br/><br/>
		<% end %>
	<% end %>

