<h1>Temele mele</h1>
<br/><br/>

<!-- afiseaza mesaje -->
<!-- < if flash[:notice] && flash[:notice] != "Alegerea selectata deja exista" && flash[:notice] != "Alegere salvata cu succes"%> -->
	<!-- <div id="notice", style="color:green"><= flash[:notice] %></div> -->
	<!-- <hr> -->
<!-- < end %> -->

<table class="table table-striped table hover">
	<thead>
	<tr>
		<th></th>
		<th class="col-sm-1"></th>
	</tr>
	</thead>
	<tbody>
		<!-- Domeniile -->
		<% Domeniu.where(user_id: @current_user.id).where(sesiune_id: @current_sesiune.id).each do |dom| %>
			<tr>
				<td><b><%= link_to dom.nume, dom %></b></td>
				<td>
					<% if dom.nume != "Propuneri Studenti" %>
						<%= link_to "", edit_domeniu_path(dom), class:"glyphicon glyphicon-pencil", :style => 'font-size:13px; position:relative; left:10px'%>
						<% if Tema.where(domeniu_id: dom.id).count == 0 %>
							<%= link_to "", dom, class:"glyphicon glyphicon-trash", method: :delete, data: { confirm: 'Are you sure?' }, :style => 'color:red; font-size:13px; position:relative; left:15px' %>
						<% end %>
					<% end %>
				</td>
			</tr>
			<!-- temele unui domeniu -->
			<tr>
				<td>
					<ul class="list-group">
						<% Tema.where(domeniu_id: dom.id).each do |tema| %>
							<li class="list-group-item list-group-item-default"><%= link_to tema.nume, tema %></li>
						<% end %>
						<li class="list-group-item list-group-item-default"><%= link_to "+  Temă", temaNew_path(domeniu_id: dom.id) %></li>
					</ul>
				</td>
				<td>
					<ul class="list-group">
						<% Tema.where(domeniu_id: dom.id).each do |tema| %>
							<li class="list-group-item list-group-item-default">
								<%= link_to "", edit_tema_path(tema), class: "glyphicon glyphicon-pencil", style: "font-size:13px; position:relative; left:10px"%>
								<%= link_to "", tema, class: "glyphicon glyphicon-trash", method: :delete, data: { confirm: 'Sigur?' }, :style => 'color:red; font-size:13px; position:relative; left:15px' %>
							</li>
						<% end %>
					</ul>
				</td>
			</tr>
		<% end %><!-- end al lui domenii.each -->
		<!-- butonul de add domeniu de la final -->
		<tr>
			<td><b><%= link_to "+  Domeniu", domeniuNew_path %></b></td><td></td>
		</tr>
	</tbody>
</table>

<br/>

<!-- buton pentru domeniul propuneri studenti -->
<% if current_user.rol == "Profesor" %>
	<% if current_user.are_domeniu_propuneri_studenti %>
		<%= link_to "Refuza propuneri de la studenti", refuzStudenti_path(refuzStudenti: true), data: {confirm: "Temele propuse de studenti(daca exista deja) vor ramane in domeniul Neclasificat si vor fi disponibile studentilor pentru a si le alege ca lucrari de licenta."}, class: "btn btn-danger", style: "float:right" %>
	<% else %>
		<%= link_to "Permite propuneri de la studenti", acceptStudenti_path(acceptStudenti: true), class: "btn btn-success", style: "float:right" %>
	<% end %>
<% end %>














<!-- < if has_domenii == false %> -->
	<!-- Nu aveți domenii sau teme. -->
<!-- < end %> -->

<!-- butoanele de adaugat -->
<!-- <div style="text-align:left"> -->
<!-- <= link_to "  Domeniu", domeniuNew_path, class: "glyphicon glyphicon-plus", style: "color:#7C7062; font-size:18px; font-family:Georgia, serif; font-style:italic" %> -->
<!-- <br/> -->
<!-- < if has_domenii %> -->
	<!-- <= link_to "  Temă", temaNew_path, class: "glyphicon glyphicon-plus", style: "color:#428bca; font-size:18px; font-family:Georgia, serif;" %> -->
<!-- < end %> -->
<!-- </div> -->
<!-- <br/><br/> -->

<!-- afisez toate domeniile si temele profesorului -->
<!-- < Domeniu.where(user_id: @current_user.id).each do |dom| %> -->
	<!-- <div>	 -->
		<!-- <span class="clickdomeniu glyphicon glyphicon-chevron-right"></span> -->
		<!-- <b><= link_to dom.nume, dom, style: "color:#7C7062; font-size:18px; font-family:Georgia, serif; font-style:italic" %></b> -->
		<!-- <= link_to "", edit_domeniu_path(dom), class:"glyphicon glyphicon-pencil", :style => 'font-size:13px; position:relative; left:10px'%>  -->
					
		<!-- < if Tema.where(domeniu_id: dom.id).count == 0 %> -->
			<!-- <= link_to "", dom, class:"glyphicon glyphicon-trash", method: :delete, data: { confirm: 'Are you sure?' }, :style => 'color:red; font-size:13px; position:relative; left:15px' %> -->
			<!-- <div class="expanddomeniu"> -->
				<!-- <i>Aici nu sunt teme.</i> -->
			<!-- </div> -->
		<!-- < end %> -->
		<!-- <div class="expanddomeniu"> -->
			<!-- < Tema.where(domeniu_id: dom.id).each do |tema| %> -->
				<!-- <div class="divtema"> -->
					<!-- <= link_to tema.nume, tema, :style => 'color:#428bca; font-size:18px' %> -->
					<!-- <= link_to "", edit_tema_path(tema), class: "glyphicon glyphicon-pencil", style: "font-size:13px; position:relative; left:10px"%>  -->
					<!-- <= link_to "", tema, class: "glyphicon glyphicon-trash", method: :delete, data: { confirm: 'Sigur?' }, :style => 'color:red; font-size:13px; position:relative; left:15px' %> -->
				<!-- </div> -->
			<!-- < end %> -->
		<!-- </div> -->
	<!-- </div> -->
<!-- < end %> -->

<!-- TODO: vrei propuneri de la studenti? -->
<!-- daca nu am domeniul pt studenti -->
	<!-- adauga-l -->
<!-- daca am domeniul pt studenti -->
	<!-- daca nu mai are teme, sterge-l -->
