<%= form_for(@fisier) do |f| %>
  <% if @fisier.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@fisier.errors.count, "error") %> prohibited this fisier from being saved:</h2>

      <ul>
      <% @fisier.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :path %><br>
    <%= f.text_field :path %>
  </div>
  <div class="field">
    <%= f.label :adaugat %><br>
    <%= f.date_select :adaugat %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :capitol_id %><br>
    <%= f.number_field :capitol_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
