<h1>Fișierele mele</h1>

<!-- notificari -->
<% if flash[:notice] %>
   <div id="notice"><%= flash[:notice] %></div>
   <hr>
<% end %>

<!-- fisierele pe capitole -->
<% nr = 1 %>
<% @capitole.each do |capitol| %>
	Cap <%= nr %>. <%= link_to capitol.nume, capitol %><br/>
	<% nr = nr + 1 %>
	
	<ul>
		<% Fisier.where(capitol_id: capitol.id).each do |fis| %>
			<li>
				<%= link_to fis.name, fis %> - uploaded by
				<%= User.find(fis.user_id).prenume %>
			<li/>
		<% end %>
	</ul>
<% end %>


