<h1>Listing comentariu_fisiers</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Fisier</th>
      <th>Continut</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @comentariu_fisiers.each do |comentariu_fisier| %>
      <tr>
        <td><%= comentariu_fisier.user_id %></td>
        <td><%= comentariu_fisier.fisier_id %></td>
        <td><%= comentariu_fisier.continut %></td>
        <td><%= link_to 'Show', comentariu_fisier %></td>
        <td><%= link_to 'Edit', edit_comentariu_fisier_path(comentariu_fisier) %></td>
        <td><%= link_to 'Destroy', comentariu_fisier, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Comentariu fisier', new_comentariu_fisier_path %>
