<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @comentariu_fisier.user_id %>
</p>

<p>
  <strong>Fisier:</strong>
  <%= @comentariu_fisier.fisier_id %>
</p>

<p>
  <strong>Continut:</strong>
  <%= @comentariu_fisier.continut %>
</p>

<%= link_to 'Edit', edit_comentariu_fisier_path(@comentariu_fisier) %> |
<%= link_to 'Back', comentariu_fisiers_path %>
