<%= form_for(@todo) do |f| %>
  <% if @todo.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% @todo.errors.full_messages.each do |msg| %>
        <li style="color:red"><%= msg %></li>
      <% end %>
      </ul>
    </div>
    <hr>
  <% end %>

  <%= f.hidden_field :capitol_id, :value => params[:capitol_id] %>
  <div class="field">
    <%= f.label "Conținut" %><br>
    <%= f.text_area :continut, rows: 1, class: 'col-sm-10' %>
  </div>
  <br/><br/>
  <div class="field">
    <%= f.label :este_gata %><br>
    <%= f.check_box :este_gata %>
    <!-- <= f.select :este_gata, options_for_select([ ["Da", true],["Nu", false] ])%> -->
  </div>

  <br/>
  <div class="actions">
    <%= f.submit 'Submit', :class => 'btn btn-primary' %>
  </div>
<% end %>
