<%= form_for(@licenta_salvata) do |f| %>
  <% if @licenta_salvata.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@licenta_salvata.errors.count, "error") %> prohibited this licenta_salvata from being saved:</h2>

      <ul>
      <% @licenta_salvata.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :tema_id %><br>
    <%= f.number_field :tema_id %>
  </div>
  <div class="field">
    <%= f.label :sesiune_id %><br>
    <%= f.number_field :sesiune_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
