<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @licenta_salvata.user_id %>
</p>

<p>
  <strong>Tema:</strong>
  <%= @licenta_salvata.tema_id %>
</p>

<p>
  <strong>Sesiune:</strong>
  <%= @licenta_salvata.sesiune_id %>
</p>

<%= link_to 'Edit', edit_licenta_salvata_path(@licenta_salvata) %> |
<%= link_to 'Back', licenta_salvatas_path %>
