<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @comentariu_capitol.user_id %>
</p>

<p>
  <strong>Capitol:</strong>
  <%= @comentariu_capitol.capitol_id %>
</p>

<p>
  <strong>Continut:</strong>
  <%= @comentariu_capitol.continut %>
</p>

<%= link_to 'Edit', edit_comentariu_capitol_path(@comentariu_capitol) %> |
<%= link_to 'Back', comentariu_capitols_path %>
