<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @alegeri_user_tema.user_id %>
</p>

<p>
  <strong>Tema:</strong>
  <%= @alegeri_user_tema.tema_id %>
</p>

<p>
  <strong>Status profesor:</strong>
  <%= @alegeri_user_tema.status_profesor %>
</p>

<p>
  <strong>Status student:</strong>
  <%= @alegeri_user_tema.status_student %>
</p>

<p>
  <strong>Sesiune:</strong>
  <%= @alegeri_user_tema.sesiune_id %>
</p>

<%= link_to 'Edit', edit_alegeri_user_tema_path(@alegeri_user_tema) %> |
<%= link_to 'Back', alegeri_user_temas_path %>
