<%= form_for(@sesiune) do |f| %>
  <% if @sesiune.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sesiune.errors.count, "error") %> prohibited this sesiune from being saved:</h2>

      <ul>
      <% @sesiune.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  Azi: <%= Date.today.strftime("%A, %d %B %Y, %H:%M") %>
  <br/><br/>

  <div class="field">
    <%= f.label "Dată începere" %><br>
    <%= f.date_select :data_start %>
  </div>
  <div class="field">
    <%= f.label :deadline %><br>
    <%= f.datetime_select :deadline %>
  </div>
  <br/>

  <%= f.hidden_field :este_deschisa, :value => true %>

  <div class="actions">
    <%= f.submit "Start", :class => 'btn btn-success' %>
  </div>
<% end %>
